@import 'colours';
$tile-padding: 1rem;
$tile-margin: 2rem;

// !!!!!!!!!!
//
// SHOWS
//
// !!!!!!!!!!

.container.shows {
    h1 {
        color: #fff;
    }
    .shows-grid {
        background-color: map-get($colours, dark-background);

        .slider {
            &, .slider-frame {
                min-height: 30rem;
            }
        }

        .show-tile {
            height: 30rem;
            display: inline-block;
            padding: $tile-padding;
            margin: 0 $tile-margin;
            text-align: center;
            color: #fff;

            img {
                height: calc(100% - #{$tile-padding + $tile-margin});
            }
            & > div {
                //     position: relative;
                //     top: calc(100% - #{$tile-padding + $tile-margin});
                margin: 1rem auto;
            }
        }
    }
}

// !!!!!!!!!!
//
// SHOW PAGE
//
// !!!!!!!!!!

.show-page {
    background-color: map-get($colours, dark-background);
    padding: 0 3rem 3rem;
    color: #fff;

    .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        [class^="col"] {
            display: flex;
            flex-flow: column nowrap;
        }
    }
    img {
        width: 100%;
    }
    .star-ratings-css {
        unicode-bidi: bidi-override;
        color: #c5c5c5;
        font-size: 25px;
        height: 25px;
        width: 125px;
        margin: 0 auto;
        position: relative;
        padding: 0;
        margin-top: 2rem;

        &-top {
            color: map-get($colours, brand-primary);
            padding: 0;
            position: absolute;
            z-index: 1;
            display: block;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        &-bottom {
            padding: 0;
            display: block;
            z-index: 0;
        }
        &:hover {
            color: yellow;
            cursor: pointer;

            .star-ratings-css-top {
                color: transparent;
                width: 100% !important;
            }
        }
        span:hover {
            & ~ span {
                color: #c5c5c5;
            }
        }
    }
    .buttons {
        margin-top: auto;

        .btn {
            width: 100%;
            background-image: none;
            background-color: map-get($colours, light-grey);
            color: map-get($colours, brand-primary);
            text-shadow: none;
            border-radius: 0;
            border-color: #1A1A1A;
            text-transform: uppercase;
            font-size: 12px;

            &:focus {
                background-color: map-get($colours, light-grey);
                color: map-get($colours, brand-primary);
                outline: none;
            }

            &:active, &:focus:active {
                background-color: #1A1A1A;
                color: map-get($colours, brand-primary);
                border-color: #1A1A1A;
                outline: none;
            }
            .glyphicon {
                margin-right: 1rem;
            }
        }
    }
}
