
nav {
  border-radius: 0 0 5px 5px !important; }

html body {
  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 14px;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313 !important;
  background-size: 20px 20px; }

a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

nav {
  font-family: "Philosopher", "Open Sans", sans-serif !important;
  font-size: 18px !important; }
  nav a[class=navbar-brand] {
    padding: 0 15px 0 0 !important; }
    nav a[class=navbar-brand] img {
      height: 85%; }
  nav a {
    color: #E53D14 !important; }
    nav a:hover {
      text-shadow: 0 0 1rem #E53D14 !important; }

div[class*=anonymous-homepage] h2 {
  font-size: 16px;
  text-transform: uppercase;
  padding: 2rem 0; }

div[class*=anonymous-homepage] div[class*=welcome] {
  text-align: center;
  background-color: #3c3c3c;
  color: #fff;
  min-height: 600px; }

div[class*=anonymous-homepage] div[class*=sign-up], div[class*=anonymous-homepage] div[class*=about] {
  text-align: center;
  background-color: #3c3c3c;
  color: #fff;
  min-height: calc(285px); }
