
nav {
  border-radius: 0 0 5px 5px !important; }

html body {
  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 14px;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313 !important;
  background-size: 20px 20px;
  padding-bottom: 5rem; }

a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

a:focus {
  outline: none !important;
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

button:focus {
  outline: none !important; }

nav {
  font-family: "Philosopher", "Open Sans", sans-serif !important;
  font-size: 18px !important; }
  nav a.navbar-brand {
    margin-left: 0 !important;
    padding: 0 !important; }
    nav a.navbar-brand img {
      height: 85%;
      margin-top: 2.5%; }
  nav a {
    color: #E53D14 !important; }
    nav a:hover {
      text-shadow: 0 0 1rem #E53D14 !important; }

.anonymous-homepage h2 {
  font-size: 16px;
  text-transform: uppercase;
  padding: 2rem 0; }

.anonymous-homepage .welcome {
  text-align: center;
  background-color: #3c3c3c;
  color: #fff;
  min-height: 600px; }

.anonymous-homepage .sign-up, .anonymous-homepage .about {
  text-align: center;
  background-color: #3c3c3c;
  color: #fff;
  min-height: calc(285px); }

.modal-backdrop {
  background-color: #3f3f3f !important; }

.modal-dialog .modal-header {
  text-align: center;
  text-transform: uppercase;
  background-color: #151515; }
  .modal-dialog .modal-header, .modal-dialog .modal-header button.close {
    color: #E53D14;
    opacity: 1;
    text-shadow: none; }

.modal-dialog .modal-body {
  background-color: #3c3c3c;
  text-align: center;
  padding: 25px !important; }
  .modal-dialog .modal-body button.btn {
    margin-top: 1rem;
    padding: 0.75rem 3rem;
    background: #E53D14 !important;
    border: none;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none; }
    .modal-dialog .modal-body button.btn:hover {
      background: #ce3712 !important; }

.container.shows h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  color: #fff; }

.container.shows .shows-grid .genre {
  margin: 2rem 0;
  background-color: #151515; }
  .container.shows .shows-grid .genre h2 {
    height: 53px;
    padding: 1rem 30px;
    color: #fff; }
  .container.shows .shows-grid .genre .slider, .container.shows .shows-grid .genre .slider .slider-frame {
    min-height: 30rem; }
  .container.shows .shows-grid .genre .slider [class^=slider-decorator] {
    transform: translateY(0) !important; }
    .container.shows .shows-grid .genre .slider [class^=slider-decorator] > div {
      z-index: 5; }
      .container.shows .shows-grid .genre .slider [class^=slider-decorator] > div:hover {
        background-color: rgba(250, 250, 250, 0.35) !important;
        cursor: pointer; }
      .container.shows .shows-grid .genre .slider [class^=slider-decorator] > div button {
        color: #E53D14; }
  .container.shows .shows-grid .genre .slider .show-tile {
    width: 100%;
    height: 30rem !important;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    color: #fff; }
    .container.shows .shows-grid .genre .slider .show-tile img {
      height: calc(100% - 3rem); }
    .container.shows .shows-grid .genre .slider .show-tile > div {
      margin: 1rem auto; }
    .container.shows .shows-grid .genre .slider .show-tile:hover {
      text-decoration: none; }

.show-page {
  background-color: #151515;
  padding: 0 3rem 3rem;
  color: #fff; }
  .show-page .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    .show-page .content [class^="col"] {
      display: flex;
      flex-flow: column nowrap; }
  .show-page img {
    width: 100%; }
  .show-page .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 125px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    margin-top: 2rem; }
    .show-page .star-ratings-css-top {
      color: #E53D14;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden; }
    .show-page .star-ratings-css-bottom {
      padding: 0;
      display: block;
      z-index: 0; }
    .show-page .star-ratings-css:hover {
      color: yellow;
      cursor: pointer; }
      .show-page .star-ratings-css:hover .star-ratings-css-top {
        color: transparent;
        width: 100% !important; }
    .show-page .star-ratings-css span:hover ~ span {
      color: #c5c5c5; }
  .show-page .buttons {
    margin-top: auto; }
    .show-page .buttons .btn {
      width: 100%;
      background-image: none;
      background-color: #3c3c3c;
      color: #E53D14;
      text-shadow: none;
      border-radius: 0;
      border-color: #1A1A1A;
      text-transform: uppercase;
      font-size: 12px; }
      .show-page .buttons .btn:hover {
        background-color: #2f2f2f; }
      .show-page .buttons .btn:focus {
        background-color: #3c3c3c;
        color: #E53D14;
        outline: none; }
      .show-page .buttons .btn:active, .show-page .buttons .btn:focus:active {
        background-color: #1A1A1A;
        color: #E53D14;
        border-color: #1A1A1A;
        outline: none; }
      .show-page .buttons .btn .glyphicon {
        margin-right: 1rem; }
